@use '../util' as u;

.filmy {
  margin-top: u.rem(40);

  .headline {
    margin-bottom: u.rem(30);
    display: flex;
    justify-content: space-between;

    .right-side {
      display: flex;

      i {
        margin-left: u.rem(7);
      }
    }
  }

  .filmy-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: u.rem(15);

    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    .image-card {
      position: relative;

      .yt-btn {
        position: absolute;
        left: 48%;
        top: 48%;

        i {
          color: rgba(0, 0, 0, 0.593);
          transform: scale(5);
        }
      }
    }

    .image-card:hover .yt-btn i {
      color: white;
    }

    .ac1 {
      background-image: url(./assets/section-7/1.webp);
    }
    .ac2 {
      background-image: url(./assets/section-7/2.webp);
    }
    .ac3 {
      background-image: url(./assets/section-7/3.webp);
    }
    .ac4 {
      background-image: url(./assets/section-7/4.webp);
    }
  }
}
