@use '../util' as u;

.ostatnio-ogladane {
  margin-top: u.rem(20);

  .headline {
    margin-bottom: u.rem(20);
  }

  .ostatnio-ogladane-grid {
    display: grid;
    gap: u.rem(20);
    grid-template-columns: repeat(6, 1fr);

    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
      gap: u.rem(5);
    }

    .ct1 {
      background-image: url(./assets/section-6/1.webp);
    }
    .ct2 {
      background-image: url(./assets/section-6/2.webp);
    }
    .ct3 {
      background-image: url(./assets/section-4/2.webp);
    }
    .ct4 {
      background-image: url(./assets/section-4/3.webp);
    }
    .ct7 {
      background-image: url(./assets/section-1/8.webp);
    }
    .ct8 {
      background-image: url(./assets/section-1/9.webp);
    }
  }
}
