@use '../util' as u;

.sales-masters {
  margin-top: u.rem(70);

  .big-card {
    padding: u.rem(25) u.rem(35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    border-radius: u.rem(16);

    -webkit-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);

    .sales-logo {
      background-image: url(./assets/section-10/1.webp);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      width: u.rem(200);
      height: u.rem(50);

      @include u.breakpoint-down(small) {
        display: none;
      }
    }

    .sales-center-text {
      display: flex;
      align-items: center;

      p {
        font-size: u.rem(16);
      }
    }

    .btn {
      height: 100%;
      padding: u.rem(8) u.rem(30);
      border-radius: 50px;
      font-size: u.rem(13);
      color: var(--pink);
      background-color: var(--header);
      border: 1px solid var(--pink);
      transition: var(--fast);
    }
  }

  .big-card:hover {
    box-shadow: 0px 0px 10px -4px rgba(66, 68, 90, 1);
  }
  .big-card:hover .btn {
    color: var(--text-white);
    background-color: var(--pink);
  }
}
