@use '../util' as u;

.advert-card-container {
  display: flex;
  flex-direction: column;

  .advert-card-padding {
    padding: u.rem(20) 0;
    background-color: white;

    -webkit-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    border-radius: u.rem(12);

    .advert-card {
      height: u.rem(250);
      padding: u.rem(100);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .advert-card-padding-zero {
    -webkit-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
    border-radius: u.rem(12);
    overflow: hidden;
    background-color: white;

    .advert-card {
      height: u.rem(290);
      padding: u.rem(100);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  h3 {
    margin-top: u.rem(15);
    margin-bottom: u.rem(10);
  }

  .gray-text {
    margin-top: u.rem(10);
    font-size: u.rem(11);
    color: var(--gray);
  }
}
