@use '../util' as u;

.item-container {
  display: flex;
  flex-direction: column;
  padding: u.rem(20);
  color: var(--text);
  border-radius: u.rem(12);
  cursor: pointer;

  .item-info {
    display: flex;

    .item-info-text {
      margin-left: u.rem(5);
      padding: u.rem(3) u.rem(10);
      border-radius: u.rem(20);
      border: 1px solid var(--gray1);
      font-size: u.rem(11);
    }
  }

  .item-image {
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: u.rem(12);
  }

  p {
    font-size: u.rem(14);
    padding: u.rem(5) 0;
  }
}

.item-container:hover {
  -webkit-box-shadow: 0px 0px 10px -6px var(--card-shadow);
  -moz-box-shadow: 0px 0px 10px -6px var(--card-shadow);
  box-shadow: 0px 0px 10px -6px var(--card-shadow);
}
