@use '../util' as u;

.item-cart {
    display: flex;
    flex-direction: column;
    padding: u.rem(20);
    color: var(--text);

    .cart-info {
        display: flex;

        .cart-info-text {
            margin-left: u.rem(5);
            padding: u.rem(3) u.rem(10);
            border-radius: u.rem(20);
            border: 1px solid var(--gray1);
            font-size: u.rem(11);
        }
    }

    .cart-img {
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
    }

    p {
        font-size: u.rem(14);
        padding: u.rem(5) 0;
    }
}

.item-cart:hover {
    -webkit-box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
    border-radius: u.rem(12);
}