:root {
--background: white;
--text:rgb(26, 26, 26);
--text-black:rgb(0, 0, 0);
--text-white:rgb(255, 255, 255);
--text-gray:rgb(112,112,112);
--header:rgb(245, 245, 245);
--gray1: rgb(220, 220, 220);
--gray2: rgb(159, 159, 159);
--gray3: rgb(112, 112, 112);
--gray4: rgb(60, 60, 60);
--pink: rgb(233, 66, 169);
--blue: rgb(56, 144, 252);
--green:rgb(43, 163, 43);

--fast: all .1s ease-in-out;
}