@use '../util' as u;

.bestsellery {
    margin-top: u.rem(20);
   
    .headline {
        margin-bottom: u.rem(20);
    }

    .bestsellery-grid {
        display: grid;
        gap: u.rem(20);
        grid-template-columns: repeat(6, 1fr);

        @include u.breakpoint-down(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint-down(small) {
            grid-template-columns: 1fr;
            gap: u.rem(5);
        }

        .ct1 {
            background-image: url(/images/section-6/1.webp);
        }
        .ct2 {
            background-image: url(/images/section-6/2.webp);
        }
        .ct3 {
            background-image: url(/images/section-6/3.webp);
        }
        .ct4 {
            background-image: url(/images/section-6/4.webp);
        }
        .ct5 {
            background-image: url(/images/section-6/5.webp);
        }
        .ct6 {
            background-image: url(/images/section-6/6.webp);
        }
    }
}