@use '../util' as u;

.header-menu {
    position: absolute;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header);
    box-shadow: rgba(0, 0, 0, 0.64) 0px 2px 8px -5px;

    .header-menu-items {
        width: 80%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include u.breakpoint-down(medium) {
            display: none;
        }
        
        a {
            padding: u.rem(10);
            display: flex;
            align-items: center;
            flex-grow: 1;
            color: var(--text-color);
            
            i {
                color: var(--gray4);
                
                @include u.breakpoint-down(large) {
                    display: none;
                }
                @include u.breakpoint-down(small) {
                    color: var(--pink);
                    display: block;
                    margin-right: u.rem(10);
                }
            }
            
            p {
                font-weight: 400;
                font-size: u.rem(13);
                padding: u.rem(10);

                @include u.breakpoint-down(large) {
                    padding: u.rem(5);
                }
            }
        }

        a.pink {
            color: var(--pink);
            
            i {
                color: var(--pink); 
            }
        }
    }

    .small-device {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: u.rem(80);
        left: 0;
        width: 90%;
        border-top-right-radius: u.rem(12);
        border-bottom-right-radius: u.rem(12);
        background-color: var(--gray3);
        opacity: .95;
    
        p {
            color: var(--text-white);
        }
    }
}