@use '../util' as u; 

.hot-shoot {
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: u.rem(12);
    border: 2px solid var(--pink);
    padding: u.rem(20);

    @include u.breakpoint-down(medium) {
        grid-row: 1 / 3;
    }
    @include u.breakpoint-down(small) {
        grid-row: 2 / 3;
    }

    .hs-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            align-self: flex-start;
        }

        .save-box {
            background-color: var(--gray3);
            color: var(--text-white);
            border-radius: u.rem(10);
            padding: u.rem(10);

            h3 {
                padding-top: u.rem(5);
                color: var(--text-white);
            }
        }
    }

    .hs-img {
        width: 100%;
        height: u.rem(150);
        object-fit: contain;
        background-image: url(/images/section-1/1.webp);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
    }

    .pink-text {
        color: var(--pink);
        font-weight: 700;
        font-size: u.rem(26);
    }

    .left-sold {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            
            strong {
                padding-left: u.rem(5);
                font-size: u.rem(26);
            }
        }
        .sold {
            display: flex;
            align-items: center;
            
            strong {
                padding-left: u.rem(5);
                font-size: u.rem(26);
            }
        }
    }

    .timer {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: u.rem(10);

        .timer-box {
            background-color: var(--gray1);
            padding: u.rem(10);
            font-size: u.rem(30);
            border-radius: u.rem(12);
        }

        h2 {
            padding: 0 u.rem(5);
        }

        .dots {
            margin-bottom: u.rem(17);
        }
    }

    .progress-bar {
        width: 80%;
        height: u.rem(10);
        border-radius: u.rem(15);
        border: 1px solid var(--gray1);
        overflow: hidden;
        
        .progress {
            width: 45%;
            height: 100%;
            background: rgb(231,163,255);
            background: linear-gradient(90deg, rgba(231,163,255,1) 0%, rgba(126,223,255,1) 79%, rgba(255,255,255,1) 100%);
        }
    }
}