@use '../util' as u;

.newsletter {
    margin-top: u.rem(70);
   
    .newsletter-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: u.rem(20);

        @include u.breakpoint-down(medium) {
            grid-template-columns: 1fr;
        }

        .big-card {
            padding: u.rem(35) u.rem(45);
            display: flex;
            justify-content: space-between;
            background-color: var(--header);
            border-radius: u.rem(16);
            
            -webkit-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
            box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
        
            .left-area {
                display: flex;
                flex-direction: column;
    
                p {
                    padding: u.rem(15) 0;
                    line-height: 1.3;
                    color: var(--gray3);
                }

                .input-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid var(--gray1);
                    border-radius: u.rem(50);
                    background-color: var(--background);
            
                    .searchbar {
                        flex: 1;
                        padding: u.rem(5) u.rem(20);
                        
                        input {
                            border: none;
                            width: 100%;
                        }
                        input:focus {
                            outline: none;
                        }
            
                        input::-webkit-search-cancel-button{
                             -webkit-appearance: none;
                       }     
                            
                    }
                    .btn {
                        height: 105%;
                        background-color: var(--blue);
                        padding: 0 u.rem(25);
                        border-radius: 50px;
            
                        i {
                            transform: scale(1.3);
                        }
                    }
                    .btn:hover {
                        background-color: var(--blue);
                        filter: brightness(1.1);
                    }
                }
            }

            .right-area {
                display: flex;
                align-items: center;
                .newsletter-img {
                    height: 120px;

                    @include u.breakpoint-down(small) {
                        display: none;
                    }
                }
            }
        }

        .big-card:hover {
            box-shadow: 0px 0px 10px -4px rgba(66, 68, 90, 1);
        }

        
        .mobile-app-card {
            
            .left-area {
                .download-btns {
                    display: flex;

                    @include u.breakpoint-down(small) {
                        flex-direction: column;
                    }
                    
                    img {
                        width: u.rem(120);
                        margin-right: u.rem(8);
                        
                        @include u.breakpoint-down(small) {
                            margin-top: u.rem(5);
                        }
                    }
                }
            }

            .right-area {
                background-image: url(/images/section-9/5.webp);
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;

                @include u.breakpoint-down(small) {
                    display: none;
                }
            }
        }
    }
}