@use '../util' as u;

.polecane {
    margin-top: u.rem(20);

    .polecane-grid {
        display: grid;
        gap: u.rem(20);
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: .5fr 3fr 3fr;

        @include u.breakpoint-down(medium) {
            grid-template-columns: 1.5fr 1fr 1fr;
            grid-template-rows: .5fr 3fr 1.5fr 1.5fr;
        }
        @include u.breakpoint-down(small) {
            grid-template-columns: 1fr;
            grid-template-rows: .2fr 2.5fr repeat(6, 1fr);
        }

        .headline {
            grid-column: 2 / 6;
            grid-row: 1 / 2;

            @include u.breakpoint-down(medium) {
                grid-column: 2 / 4;
                grid-row: 1 / 2;
            }
            @include u.breakpoint-down(small) {
                grid-column: 1;
                grid-row: 1 / 2;
            }
        }

        .ct1 {
            background-image: url(/images/section-1/2.webp);
        }
        .ct2 {
            background-image: url(/images/section-1/3.webp);
        }
        .ct3 {
            background-image: url(/images/section-1/4.webp);
        }
        .ct4 {
            background-image: url(/images/section-1/5.webp);
        }
        .ct5 {
            background-image: url(/images/section-1/6.webp);
        }
        .ct6 {
            background-image: url(/images/section-1/7.webp);
        }
        .ct7 {
            background-image: url(/images/section-1/8.webp);
        }
        .ct8 {
            background-image: url(/images/section-1/9.webp);
        }
    }
}