@use '../util' as u;

.slider {
    margin-top: u.rem(90);
    position: relative;
    
    @include u.breakpoint-down(medium) {
       margin-top: u.rem(0);
    }
    @include u.breakpoint-down(small) {
        display: none;
    }
    
    .btn-container {
        position: relative;

        .slider-btn{
            top: 50%;
            position: absolute;
            height: 40px;
            width: 40px;
            padding: u.rem(10);
            border-radius: 50%;
            box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
            z-index: 2;
            background-color: var(--background);
            
            i {
                color: var(--gray4);
            }
        }

        .btn:hover {
            background-color: var(--gray1);
            outline: none;
        }
    
        .slider-btn-left {
            transform: translate(-50%, -50%);
        }
        .slider-btn-right {
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    .slides-container {
        position: relative;
        height: u.rem(344);
        width: 100%;
        border-radius: u.rem(25);
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.64) 0px 2px 8px -5px;

        .slides {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: var(--fast);

            .slide {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
    
            .s1 {
                background-image: url(../../../images/normal\,\,majowka-2022-top_1651042112.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .s2 {
                background-image: url(../../../images/normal\,\,laptopy-q2-2022-top_1650870896.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                left: 100%;
            }
            .s3 {
                background-image: url(../../../images/normal\,\,telewizor-dvbt2_1650445928.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                left: 200%;
            }
            .s4 {
                background-image: url(../../../images/normal\,\,uchwyc-blask-z-realme-9_1651143892.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                left: 300%;
            }
            .s5 {
                background-image: url(../../../images/normal\,\,samsung-shield-t7-top_1651046747.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                left: 400%;
            }
            .s6 {
                background-image: url(../../../images/normal\,\,majowka-top-x-kom-1570x344_1650023976.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                left: 500%;
            }
        }
    }
    
    .slider-texts {
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include u.breakpoint-down(medium) {
            display: none;
        }

        p {
            font-size: u.rem(13);
            color: var(--gray);
            padding-top: u.rem(20);
        }

        .active-slider-text {
            border-top: 5px solid var(--pink);
            color: var(--pink);
            padding-top: u.rem(15);
            font-weight: 700;
        }
    }
}