@use '../util' as u;

.strefa-marek {
    margin-top: u.rem(40);

    .headline {
        margin-bottom: u.rem(30);
        display: flex;
        justify-content: space-between;

        .right-side {
            display: flex;

            i {
                margin-left: u.rem(7);
            }
        }
    }

    .strefa-marek-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: u.rem(20);
        justify-items: center;
        align-items: center;

        @include u.breakpoint-down(medium) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include u.breakpoint-down(small) {
            grid-template-columns: repeat(2, 1fr);
        }

        .marka {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;

            filter: grayscale(1);
            opacity: .5;
            cursor: pointer;
        }

        .marka:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}