@use '../util' as u;

.koszyk-pusty-container {
    border-top: solid 1px var(--gray1);
    margin-top: u.rem(100);
    display: flex;
    justify-content: center;
    text-align: center;

    @include u.breakpoint-down(medium) {
        margin-top: u.rem(10);
    }

    h2 {
        padding-top: u.rem(50);
        font-weight: 400;
        margin-bottom: u.rem(10);
        
    }

    h3 {
        margin-bottom: u.rem(30);
        font-weight: 400;
        color: var(--gray4);
    }

    .koszyk-glowna {
        margin-bottom: u.rem(30);
        border: none;
        padding: u.rem(10) u.rem(70);
        border-radius: u.rem(25);
        background-color: var(--blue);
        color: var(--text-white);
        cursor: pointer;
    }
    .koszyk-glowna:hover {
        filter: brightness(1.1);
    }
}

.hide {
    display: none;
}