@use '../util' as u;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include u.breakpoint-down(small) {
    height: auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: min-content;
  }

  .logo-container {
    @include u.breakpoint-down(small) {
      transform: scale(0.8);
    }

    .logo {
      position: relative;
      margin: 0;
      font-size: u.rem(40);
      font-weight: 900;
      color: var(--text);
    }

    .logo::before {
      content: 'Y';
      font-size: u.rem(55);
      background: -webkit-linear-gradient(rgb(198, 76, 180), rgb(27, 194, 220));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .dark-mode {
    display: flex;
    margin-left: u.rem(30);

    i {
      transform: scale(0.8);
      padding: u.rem(10);
      border-radius: 50%;
      color: var(--gray3);
      cursor: pointer;

      @include u.breakpoint-down(medium) {
        transform: scale(0.5);
      }
    }

    i.active {
      border: 2px solid var(--blue);
    }
  }

  .hamburger-menu {
    display: none;
    justify-self: center;
    width: u.rem(40);
    padding: u.rem(5);
    border: 1px solid var(--gray1);
    border-radius: 50%;
    cursor: pointer;

    @include u.breakpoint-down(small) {
      display: block;
    }

    .bar {
      display: block;
      width: u.rem(19);
      height: u.rem(1);
      margin: u.rem(6) auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--gray3);
    }
  }
  .hamburger-active {
    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    .bar:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }

  .searchbar-container {
    margin: 0 u.rem(20);
    flex-basis: 40%;
    height: u.rem(40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray1);
    border-radius: u.rem(50);

    @include u.breakpoint-down(small) {
      grid-column: 1 / 3;
    }

    .searchbar {
      flex: 1;
      padding: u.rem(10) u.rem(20);

      input {
        border: none;
        width: 100%;
      }
      input:focus {
        outline: none;
      }

      input::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    // JS SEARCHBAR

    .item-info-container {
      position: absolute;
      top: u.rem(65);
      padding: u.rem(10);
      background-color: var(--background);
      border: 1px solid var(--gray2);
      border-radius: u.rem(12);
      z-index: 5;

      .item-info-card {
        padding: u.rem(10);
        cursor: pointer;

        a {
          color: var(--text);
        }
        a:hover {
          border-bottom: 1px solid var(--gray2);
        }
      }
    }

    .searchbar-right-content {
      display: flex;
      align-items: center;
      height: 100%;

      @include u.breakpoint-down(medium) {
        display: none;
      }

      .search-bar-line {
        width: 0.1px;
        height: 60%;
        background-color: var(--gray1);
        margin-right: u.rem(16);
      }

      .where {
        display: flex;
        align-items: center;
        padding-right: u.rem(16);
        margin-right: u.rem(10);
        cursor: pointer;

        i {
          padding-left: u.rem(10);
          color: var(--gray4);
        }
      }

      .search-bar-btn {
        height: 105%;
        padding: 0 u.rem(25);
        background-color: var(--gray4);

        i {
          color: var(--text-white);
          transform: scale(1.3);
        }
      }
    }
  }

  .header-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;

    @include u.breakpoint-down(small) {
      grid-column: 3 / 4;
    }

    li {
      position: relative;

      a.first-menu-item {
        border-right: 1px solid var(--gray1);
        margin-right: u.rem(30);

        @include u.breakpoint-down(large) {
          display: none;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: u.rem(30);

        @include u.breakpoint-down(small) {
          transform: scale(0.8);
        }

        i {
          color: var(--gray3);
          transform: scale(0.7);
        }

        p {
          color: var(--text-black);
          font-size: u.rem(13);
          text-align: center;
          white-space: nowrap;
        }
      }

      .display-none-small {
        @include u.breakpoint-down(small) {
          display: none;
        }
      }

      .cart::after {
        content: var(--content, '');
        position: absolute;
        right: u.rem(25);
        top: u.rem(-3);
        width: u.rem(20);
        height: u.rem(20);
        background-color: var(--blue);
        color: var(--text-white);
        border-radius: u.rem(25);
        border: 2px solid var(--background);
        font-size: u.rem(12);
        font-weight: 500;
        text-align: center;
        visibility: var(--visible, hidden);
      }
    }
  }
}
