@use '../util' as u;

.poradniki {
  margin-top: u.rem(40);

  .headline {
    margin-bottom: u.rem(30);
    display: flex;
    justify-content: space-between;

    .right-side {
      display: flex;

      i {
        margin-left: u.rem(7);
      }
    }
  }

  .poradniki-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: u.rem(15);

    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    .ac1 {
      background-image: url(./assets/section-5/1.webp);
    }
    .ac2 {
      background-image: url(./assets/section-5/2.webp);
    }
    .ac3 {
      background-image: url(./assets/section-5/3.webp);
    }
    .ac4 {
      background-image: url(./assets/section-5/4.webp);
    }
  }
}
