@use '../util' as u;

.promocje {
  margin-top: u.rem(40);
  width: 100%;

  .headline {
    margin-bottom: u.rem(30);
    display: flex;
    justify-content: space-between;

    .right-side {
      display: flex;

      i {
        margin-left: u.rem(7);
      }
    }
  }

  .promocje-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: u.rem(15);

    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    .ac1 {
      background-image: url(./assets/section-2/1.webp);
    }
    .ac2 {
      background-image: url(./assets/section-2/2.webp);
    }
    .ac3 {
      background-image: url(./assets/section-2/3.webp);
    }
    .ac4 {
      background-image: url(./assets/section-2/4.webp);
    }
  }
}
