@use '../util' as u;

.dostawa-main {
    width: 70%;
    margin-inline: auto;
    margin-top: 0;
        
    @include u.breakpoint-down(small) {
        margin-bottom: u.rem(20);
        width: 90%;
    }

    .dostawa-grid {
        margin-top: u.rem(20);
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 5%;
        border-top: 1px solid var(--gray1);

        @include u.breakpoint-down(medium) {
            grid-template-columns: 3fr 1fr;
        }

        @include u.breakpoint-down(small) {
            grid-template-columns: 1fr;
            gap: 0;
        }

        .dostawa-i-platnosc {
            margin-right: u.rem(40);

            @include u.breakpoint-down(small) {
                margin-right: u.rem(0);
            }
            
            h2 {
                margin-top: u.rem(30);
                font-size: u.rem(40);
            }

            h3 {
                margin-top: u.rem(30);
                font-size: u.rem(30);
            }

            .check-box-container {
                
                margin-top: u.rem(30);
                border: 1px solid var(--gray1);
                border-radius: u.rem(12);
                overflow: hidden;
                z-index: -1;

                .check-box {
                    position: relative;
                    outline: 1px solid var(--gray1);
                    padding-left: u.rem(50);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        display: flex;
                        flex-direction: column;
                        
                        h4 {
                            margin-top: u.rem(15);
                            margin-bottom: u.rem(5);

                            font-weight: 700;

                            strong {
                                font-weight: 300;
                            }
                        }

                        p {
                            margin-bottom: u.rem(15); 
                        }

                        .radio-btn-container {
                            display: block;
                            position: relative;
                            cursor: pointer;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
        
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }
            
                            .checkmark {
                                position: absolute;
                                top: u.rem(-55);
                                left: u.rem(-30);
                                height: 20px;
                                width: 20px;
                                background-color: none;
                                border-radius: 50%;
                                border: 1px solid var(--gray3);
                            }
                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            
                            .radio-btn-container:hover input ~ .checkmark {
                            background-color: rgb(230, 230, 230);
                            border: 2px solid var(--gray4);
                            }
                            input:checked ~ .checkmark {
                            background-color: none;
                            }
                            input:checked ~ .checkmark:after {
                            display: block;
                            }
                            
                            .checkmark:after {
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: var(--gray4);
                            }
                        }
                    }

                    i {
                        margin-right: u.rem(30);
                        color: var(--gray2);
                    }
                }

                .check-box-clicked {
                    border: 1px solid var(--gray4);
                    border-radius: u.rem(12);
                    padding-top: u.rem(10);
                    padding-bottom: u.rem(10);
                    z-index: 2;
                    
                    i {
                        color: var(--gray4);
                    }
                }
            }

            .metoda-platnosci {
                z-index: -1;

                .cb2 {
                    padding: u.rem(10) 0 u.rem(10) u.rem(50);
                    position: relative;
                    outline: 1px solid var(--gray1);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .left {
                        display: flex;
                        flex-direction: column;

                        h4 {
                            margin-top: u.rem(10);
                            margin-bottom: u.rem(10);

                            font-weight: 700;

                            strong {
                                font-weight: 300;
                            }
                        }

                        .radio-btn-container {
                            display: block;
                            position: relative;
                            cursor: pointer;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
        
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }
            
                            .checkmark {
                                position: absolute;
                                top: u.rem(-32);
                                left: u.rem(-30);
                                height: 20px;
                                width: 20px;
                                background-color: none;
                                border-radius: 50%;
                                border: 1px solid var(--gray3);
                            }
                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            
                            .radio-btn-container:hover input ~ .checkmark {
                            background-color: rgb(230, 230, 230);
                            border: 2px solid var(--gray4);
                            }
                            input:checked ~ .checkmark {
                            background-color: none;
                            }
                            input:checked ~ .checkmark:after {
                            display: block;
                            }
                            
                            .checkmark:after {
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: var(--gray4);
                            }
                        }
                    }

                    i {
                        margin-right: u.rem(30);
                        color: var(--gray2);
                    }
                }

                .check-box-clicked-2 {
                    border: 1px solid var(--gray4);
                    border-radius: u.rem(12);
                    padding-top: u.rem(25);
                    padding-bottom: u.rem(25);
                    z-index: 2;
                    
                    i {
                        color: var(--gray4);
                    }
                }
            }
        }    
    }
}