@use '../util' as u;

.header-dostawa {
    padding-top: u.rem(10);
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include u.breakpoint-down(small) {
        flex-direction: column;
    }
    
    .logo-and-darkmode {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include u.breakpoint-down(small) {
            margin-bottom: u.rem(20);
        }

        .dark-mode {
            margin-left: u.rem(20);
            
            i {
                transform: scale(.8);
                padding: u.rem(10);
                border-radius: 50%;
                color: var(--gray3);
                cursor: pointer;
            }
    
            i.active {
                border: 3px solid var(--blue);
            }
        }
    
        .logo-container {
            
            .logo {
                font-size: u.rem(40);
                font-weight: 900;
                color: var(--text);
                position: relative;
            }
    
            .logo::before {
                content: 'Y';
                font-size: u.rem(55);
                    background: -webkit-linear-gradient(rgb(198, 76, 180), rgb(27, 194, 220), );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
    
    }
    
    .etap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include u.breakpoint-down(small) {
            margin-bottom: u.rem(30);
        } 

        .line {
            width: u.rem(100);
            height: u.rem(.5);
            margin: 0 u.rem(20);
            background-color: var(--gray1);

            @include u.breakpoint-down(small) {
            width: u.rem(50);
            } 
        }

        .etap-part {
            position: relative;
            width: u.rem(35);
            height: u.rem(35);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid var(--gray1);

            p {
                position: absolute;
                top: 120%;
                left: 50%;
                transform: translateX(-50%);
            }

            h3 {
                color: var(--gray3);
            }

            .etap-text {
                white-space:nowrap;
            }
        }

        .gray-part {
            border: var(--gray1) 1px solid;
            background-color: var(--gray1);

            i {
                color: var(--background);
            }

            p {
                color: var(--gray);
            }
        }
        
        .black-part {
            border: var(--gray3) 1px solid;
            background-color: var(--text);

            h3 {
                color: var(--text-white);
            }

            p {
                color: var(--text);
            }
        }
    }
}