@use '../util' as u;

.koszyk {
  border-top: solid 1px var(--gray1);
  margin-top: u.rem(100);
  width: 80%;
  margin-inline: auto;

  @include u.breakpoint-down(large) {
    width: 95%;
  }
  @include u.breakpoint-down(medium) {
    margin-top: u.rem(20);
  }

  .koszyk-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: u.rem(40);

    @include u.breakpoint-down(medium) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr;
      gap: u.rem(10);
    }

    .koszyk-pelny-left {
      @include u.breakpoint-down(medium) {
        grid-row: 1 / 2;
      }

      .first-line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          margin: u.rem(20) 0;
        }

        .clean {
          display: flex;

          p {
            margin-left: u.rem(10);
          }
        }
        .remove-from-cart-btn {
          cursor: pointer;
        }
      }

      .koszyk-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: u.rem(0) u.rem(20);
        border: 1px solid var(--gray1);
        border-radius: u.rem(12);

        @include u.breakpoint-down(medium) {
          flex-direction: column;
          align-items: flex-start;
        }

        .koszyk-item-left {
          display: flex;
          align-items: center;

          .koszyk-item-img {
            background-image: url(./assets/item-site/1.webp);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100px;
            width: 100px;
            margin-right: u.rem(20);
          }
        }

        .koszyk-item-right {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include u.breakpoint-down(medium) {
            margin-bottom: u.rem(25);
          }

          .item-quantity-cart {
            margin-left: u.rem(20);
            width: u.rem(50);
          }

          i {
            margin-left: u.rem(20);
          }

          .remove-from-cart-btn {
            cursor: pointer;
          }
        }
      }
    }

    .koszyk-pelny-right {
      margin-top: u.rem(20);
      border: 1px solid var(--gray1);
      border-radius: u.rem(12);

      @include u.breakpoint-down(medium) {
        grid-row: 2 / 3;
      }

      .podsumowanie {
        display: flex;
        flex-direction: column;

        .kod-promocyjny {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: u.rem(15);
        }
      }

      .podsumowanie-down {
        padding: u.rem(15);
        border-radius: u.rem(15);
        border-top: 1px solid var(--gray1);
        background-color: var(--header);

        .oszczedzasz,
        .kwota {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: u.rem(15);
        }

        .oszczedzasz {
          p {
            color: var(--green);
            font-size: u.rem(15);
          }
        }
        .kwota {
          p {
            font-weight: 700;
            font-size: u.rem(15);
          }

          .full-price-container {
            display: flex;
          }
        }

        .dostawa-btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: u.rem(10);
          margin-bottom: u.rem(15);
          background-color: var(--green);
          color: var(--text-white);
          border: none;
          border-radius: u.rem(25);
          cursor: pointer;

          i {
            margin-left: u.rem(10);
          }

          p {
            font-size: u.rem(15);
          }

          @include u.breakpoint-down(large) {
            width: 60%;
            margin-inline: auto;
          }
        }
        .dostawa-btn:hover {
          filter: brightness(1.1);
        }

        .rata {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: u.rem(10);
          color: var(--gray4);
          background-color: var(--header);
          border: 1px solid var(--gray3);
          border-radius: u.rem(25);
          cursor: pointer;

          @include u.breakpoint-down(large) {
            width: 60%;
            margin-inline: auto;
          }
        }
      }
    }

    .end-info {
      grid-column: 2 / 3;

      @include u.breakpoint-down(medium) {
        grid-column: 1;
        grid-row: 3 / 4;
      }

      display: flex;
      align-items: center;
      padding: u.rem(10);
      color: var(--gray3);

      i {
        margin-right: u.rem(10);
      }
    }

    a {
      @include u.breakpoint-down(medium) {
        grid-column: 1;
        grid-row: 4 / 5;
      }

      .back-btn {
        background-color: var(--header);
        color: var(--gray4);
        display: flex;
        align-items: center;
        border-radius: u.rem(15);
        padding: u.rem(10) u.rem(20);
        cursor: pointer;

        i {
          margin-right: u.rem(10);
        }
      }
    }
  }
}
