@use '../util' as u;

.odbiorca-form-container {
  margin-top: u.rem(10);
  padding-bottom: u.rem(10);
  width: 100%;

  .searchbar-container {
    display: flex;
    flex-direction: column;
    height: u.rem(60);
  }

  label {
    position: relative;
    width: fit-content;
    left: u.rem(15);
    top: u.rem(30);
    background-color: var(--background);
    color: var(--gray2);
    pointer-events: none;

    transition: all 0.3s ease-in-out;
  }

  input {
    width: 70%;
    @include u.breakpoint-down(large) {
      width: 100%;
    }
    padding: u.rem(12) u.rem(15);
    border-radius: u.rem(25);
    border: 1px solid var(--gray3);

    overflow: visible;
  }

  input:focus {
    border: 1px solid var(--gray3);
    outline: none;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid var(--gray3);
    -webkit-text-fill-color: var(--text-black);
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
    box-shadow: 0 0 0px 1000px var(--background) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.input-active {
  label {
    left: u.rem(25);
    top: u.rem(10);
    padding: 0 u.rem(5);
    font-size: u.rem(12);
    background-color: var(--background);
    color: var(--gray3);
  }
}

.form-data {
  margin-top: u.rem(15);

  h4 {
    font-weight: 700;
    margin-top: u.rem(20);
    margin-bottom: u.rem(15);
  }

  .form-data-info {
    display: flex;
    align-items: center;

    i {
      color: var(--gray4);
      margin-right: u.rem(10);
    }

    h5 {
      font-weight: 500;
      color: var(--text);
      margin: u.rem(5) 0;
    }
  }

  .form-data-checkbox {
    display: flex;
    align-items: center;
    margin-top: u.rem(15);
    padding-left: u.rem(30);

    p {
      font-size: u.rem(16);
      margin-top: 0;

      a {
        color: var(--blue);
      }
    }

    h5 {
      margin-top: u.rem(10);
      font-weight: 500;
      color: var(--gray3);
      margin-bottom: 0;
    }

    .checkbox-btn-container {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: u.rem(-10);
        left: u.rem(-30);
        height: 20px;
        width: 20px;
        background-color: none;
        border-radius: u.rem(4);
        border: 1px solid var(--gray1);
      }
      .checkmark:after {
        content: '';
        position: absolute;
        display: none;
      }

      .checkbox-btn-container:hover input ~ .checkmark {
        background-color: rgb(230, 230, 230);
        border: 2px solid var(--gray3);
      }
      input:checked ~ .checkmark {
        background-color: none;
        border: 1px solid var(--gray3);
      }
      input:checked ~ .checkmark:after {
        display: block;
      }

      .checkmark:after {
        top: 20%;
        left: 35%;
        transform: translateX(-50%) translateY(-50%);
        width: 5px;
        height: 10px;
        border: solid var(--pink);
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .komentarz {
    align-items: flex-start;

    .checkbox-btn-container {
      .checkmark {
        top: u.rem(0);
      }
    }
  }
}

.wymagane {
  margin-top: u.rem(20);
  margin-bottom: u.rem(50);
  color: var(--pink);
}
