@use '../util' as u;

.dostawa-podsumowanie {
    position: sticky;
    top: u.rem(20);
    margin-top: u.rem(20);
    border: 1px solid var(--gray1);
    border-radius: u.rem(12);
    height: auto;

    .podsumowanie-item {
        display: flex;
        padding: 0 u.rem(20) u.rem(10) u.rem(20);
        
        img {
            height: 100px;
            border-radius: u.rem(12);
            margin-top: u.rem(10);

            @include u.breakpoint-down(medium) {
                height: 50px;
                margin-top: u.rem(20);
            }
        }

        .item-name {
            margin: u.rem(15) 0 0 u.rem(15);
            display: flex;
            flex-direction: column;
            
            .item-price {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-top: u.rem(15);
            }
        }
    }

    .podsumowanie-dostawa {
        padding: u.rem(20);
        border-top: solid 1px var(--gray1);
        border-bottom: solid 1px var(--gray1);

        .dostawa-section {
            display: flex;
            align-items: center;
            padding: u.rem(10) 0;

            i {
                color: var(--gray4);
            }
            h5 {
                margin: 0;
                font-weight: 500;
                color: var(--text-gray);
            }
            p {
                margin: 0;
            }

            .dostawa-section-text {
                margin-left: u.rem(20);
            }
        }
    }

    .podsumowanie-promo {
        padding: u.rem(20);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .podsumowanie-koszyk {
        display: flex;
        flex-direction: column;
        padding: u.rem(20);
        border-radius: u.rem(12);
        background-color: var(--header);

        .line {
            display: flex;
            justify-content: space-between;
            margin-bottom: u.rem(10);
        }

        .green {
            padding-top: u.rem(10);
            color: var(--green);
            border-top: 1px solid var(--gray2);
        }

        .btn {
            align-self: center;
            width: 100%;
            margin-top: u.rem(20) auto;
            text-align: center;
            padding: u.rem(10) u.rem(15);
            border-radius: u.rem(25);
            background-color: var(--green);
            color: var(--text-white);
        }
        .btn:hover {
            filter: brightness(1.1);
            cursor: pointer;
        }

        .end-info {
            margin-top: u.rem(20);
            display: flex;
            align-items: center;

            i {
                margin-right: u.rem(15);
                color: var(--gray4);
            }

            p {
                color: var(--text-gray);
            }
        }
    }
}

.thank-you-modal-parent {
    position: absolute;
    height: 100%;
    top: 0;

    .thank-you-modal {
        top: u.rem(0);
        position: sticky;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color:var(--header);
        opacity: .9;
        z-index: 5;
    
        h3 {
            margin-top: u.rem(15);
            text-decoration: underline;
            color: var(--pink);
        }
    }

    .hide {
        display: none;
    }
}


