@use '../util' as u;

.item-header {
    width: 100%;
    margin-top: u.rem(90);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint-down(medium) {
        margin-top: u.rem(20);    
    }
    @include u.breakpoint-down(small) {
        margin-top: u.rem(10);    
    }

    .item-specifics {
        display: flex;

        @include u.breakpoint-down(small) {
            flex-wrap: wrap;
        }
        
        i, p {
            margin-right: u.rem(10);
            @include u.breakpoint-down(small) {
                margin-top: u.rem(10);
            }
        }
    }

    .item-specifics-right {
        display: flex;

        @include u.breakpoint-down(medium) {
            display: none;
        }

        i {
            margin-left: u.rem(40);
        }
        p {
            margin-left: u.rem(7);
        }
    }
}